body {
    background: #0b9b6b;
}

p {
    color: azure;
}

h3,
h2 {
    color: azure;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background: #09875d;
    color: white;
}

.table> :not(caption)>*>* {
    color: azure;
}

.img-svg {
    width: 300px;
    height: auto;
}